<div id="content-holder">

    <div>
        <div>File Type : </div>
        <div>
            <label>
                <input id="csvExport"
                       type="radio"
                       name="fileType"
                       checked="checked"
                       value="csv">
                Csv
            </label>

            <label>
                <input id="xslxExport"
                       type="radio"
                       name="fileType"
                       value="xslx">
                Xslx
            </label>
        </div>
    </div>

    <div>
        <div>Export Type : </div>
        <div>
            <label>
                <input id="importableExport"
                       type="radio"
                       checked="checked"
                       name="exportType"
                       value="importable">
                Importable
            </label>

            <label>
                <input id="allDataExport"
                       type="radio"
                       name="exportType"
                       value="allData">
                All Data
            </label>
        </div>
    </div>
</div>